*.sqlite3
*/migrations/*
*.log
*.pot
*.pyc
__pycache__/
media
staticfiles
.env
.vscode
*.zip
*.tar.gz
*.egg-info
.DS_Store
.idea/
celerybeat-schedule
instance/
coverage
htmlcov/
.tox/
.pytest_cache/
.coverage
nosetests.xml
coverage.xml
*.cover